.input-content {
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 2vw;
  transition: ease-in 0.2s;
}

@media only screen and (max-width: 1000px) {
  .input-content {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .input-content {
    width: 90%;
  }
}

.white-background {
  background-color: #fefefe;
}
