.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.margin-top {
  margin-top: 4vh;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 80%;
    margin-bottom: 50px;
  }

  .margin-top {
    margin-top: 8vh;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .margin-top {
    margin-top: 5vh;
  }
}
