.search-input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  input {
    color: white;
    font-family: 'Space Mono', monospace;
    background-color: transparent;
    border: none;
    width: 100%;
  }
  input::placeholder {
    color: white;
  }
  input:focus {
    outline: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .search-input {
    input {
    }
  }
}
