.grid {
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: grid;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 3fr;
  row-gap: 3vh;
  grid-template-areas:
    'profile-picture profile-info'
    'profile-picture profile-bio'
    'profile-picture profile-card'
    'profile-picture profile-link';
  .profile-picture {
    grid-area: profile-picture;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
    }
  }
  .profile-info {
    grid-area: profile-info;
    display: grid;
    grid-template-areas: 'username join-date';
    .username {
      grid-area: username;
      display: flex;
      flex-direction: column;
      gap: 2vh;
    }
    .join-date {
      display: flex;
      justify-content: flex-end;
      grid-area: join-date;
    }
  }
  .profile-bio {
    grid-area: profile-bio;
  }
  .profile-card {
    grid-area: profile-card;
  }
  .profile-link {
    margin-top: 2vh;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-area: profile-link;
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    column-gap: 5vw;
    grid-template-areas:
      'profile-picture profile-info'
      'profile-bio profile-bio'
      'profile-card profile-card'
      'profile-link profile-link' !important;
    .profile-picture {
      align-items: center;
      justify-content: center;
    }
    .profile-info {
      grid-template-areas:
        'username'
        'join-date' !important;
      .join-date {
        justify-content: flex-start;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-areas:
      'profile-picture profile-info'
      'profile-bio profile-bio'
      'profile-card profile-card'
      'profile-link profile-link' !important;
    .profile-picture {
      img {
        width: 75px;
        height: 75px;
      }
    }
    .profile-bio {
      margin-top: 3vh;
    }
    .profile-info {
      gap: 1vh;
      .username {
        grid-area: username;
        display: flex;
        flex-direction: column;
        gap: 0px;
      }
    }
    .profile-link {
      grid-template-columns: 1fr;
      row-gap: 3vh;
    }
  }
  .flex-column {
    text-align: center;
    p:nth-child(1) {
      font-size: 0.8em;
    }
    justify-content: center;
    align-items: center;
  }
}

.text-important {
  font-weight: bold;
  font-size: 1.3em;
}

.text-blue {
  color: #0e66c4;
}

.text-green {
  color: #79b4b7;
}

.text-secondary {
  color: #7c8394;
}

.flex-evenly {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.link-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  img {
    width: 25px;
    height: 25px;
  }
}

.search-user__text {
  width: 80%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.text-red {
  color: #cc3300;
}
