@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html,
body {
  color: white;
  background-color: #141d2f;
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

button {
  min-width: 44px;
  min-height: 44px;
}

input {
  min-width: 44px;
  min-height: 44px;
}

a {
  min-width: 44px;
  min-height: 44px;
}
